In [1]:
# Math 
from math import sqrt
from scipy import stats
import statistics
import os

# General
import numpy as np
import pandas as pd

# Sklearn Modeling
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression
import sklearn.preprocessing

# Visuals
import matplotlib.pyplot as plt
import seaborn as sns
from graphviz import Graph
from tabulate import tabulate

# Custom Module's

from wrangle import wrangle_zillow

from pydataset import data

import evaluate
import warnings
warnings.filterwarnings("ignore")

### Select a dataset with a continuous target variable.

In [2]:
train, validate, test = wrangle_zillow()

### Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [3]:
train.head(3)

         bedrooms  bathrooms    area  tax_value year_built  fips
10057         4.0        2.0  1561.0   248240.0       1973  6059
2004970       3.0        2.0  1770.0    88390.0       1960  6037
306031        2.0        1.0  1452.0    81169.0       1946  6037

### Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.